body {
    background-image: url(../back/background.jpg);
}
table{
    font-family: sans-serif;
    font-size: 16pt;
    color: #000000;
    background-color: #ffffff;
    margin: auto;
    margin-top: 1%;
    border-radius: 12px;
}
@media screen and (max-width: 1186px) {
    table{
        width: 90%;
    }

}
@media screen and (min-width: 1187px) {
    table{
        width: 75%;
        }
}
@media screen and (max-device-width: 671px) {
    table{
        width: 98%;
    }
   a{width: 48%}
}
h1 {
    font-size: 20pt;
    color: #000;
    text-align: center;

}
th> h1 {
    font-size: 20pt;
    text-align: center;
    font-weight: 700;
}

input[type="text"], input[type="password"]{
    margin-top: 2%;
    margin-bottom:  1%;
    /*background-color: #66afe9;*/
    border-radius: 5px;
    /*border-color: #d4d4d4;*/
    /*color: #d4d4d4;*/
 width: 25%;
}
@media screen and (min-width : 1281px){
    input[type="text"], input[type="password"]{
        width: 25%;
    }
}
@media screen and (max-width : 1281px){
    input[type="text"], input[type="password"]{
        width: 50%;
    }
}
@media screen and (max-device-width : 821px){
    input[type="text"], input[type="password"]{
        width: 100%;
    }
    input[type="submit"]{
        width: 50%;
    }
}
::selection {
    /*background: #5bc0de;
    color:#d4d4d4;*/
}